 /* .view_port {
    background-color: rgb(64, 61, 61);
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .cylon_eye {
    background-image: url(../week_7_in_class/car.png);
    height: 100%;
    width: 20%;
  
    -webkit-animation: 4s linear 0s infinite alternate move_eye;
            animation: 4s linear 0s infinite alternate move_eye;
  }
  
  @-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
          @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  } */

         

          .view_port {
            background-color: rgb(255, 255, 255);
            height: 200px;
            width: 100%;
            overflow: hidden;
          }
          
          .cylon_eye {
        
            background-image: url(../week_7_in_class/car.png);
            background-size: 100%;
            background-repeat: no-repeat;
            height: 100%;
            width: 20%;
          
            -webkit-animation: 4s linear 0s infinite alternate move_eye;
                    animation: 4s linear 0s infinite alternate move_eye;
          }
          
          @-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
                  @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }