@font-face{
    font-family: Coco;
    src: url(../style/Cocogoose_Pro_Ultralight-trial.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.navigation, .homepageblock, .backtotop, .aboutuspage, .events, h1,footer{
    font-family: Coco;
}

.dancecovers h1{
    font-size: 3vw;
}
.dancecovers {
    display:flex;
    justify-content: center;
    flex-direction:column;
}
.dancecovers p{
    font-style:italic;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;

}
.dancecovers a{
    font-style: italic;
    text-decoration: none;
    color:purple;
    font-family: Coco;
    text-align: center;
    font-size: 1.5vw;
}

.dancecovers a:hover{
    opacity: 0.5;
    transition: transform 500ms ease-in-out;
    transform: scale(1.02);
}
/* .covers2020 {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
} */

.covers2020 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.covers2020 iframe {
    width: 50vw;
    height: 28vw;
}

.covers2019 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
}

.video {
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.covers2019 iframe{
    width: 41.25vw;
    height:23.1vw;
}

.events {
    display:flex;
    justify-content:center;
    flex-direction: column;
}

.events h1{
    font-size: 3vw;
}

.evententry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    padding-left: 40px;
    padding-right: 40px; 
}



.eventtext {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    padding-left: 40px;
    padding-right: 40px;
}

.evententry img:hover {
    opacity: 0.8;
    transform: scale(1.01);
    transition: transform 500ms ease-in-out;
    transform-origin:center;
} 



.eventtext p:hover {
    color: darkorchid;
    transition: transform 500ms ease-in-out;
    transform: scale (1.01);
    transform-origin:center;
}


.eventtext p{
    text-align: center;
    font-size: 1.5vw;
    line-height:150%;
    font-family: 'Montserrat', sans-serif;

}

.blurb p{
    font-size: 1vw;
    font-style:italic;
    text-align: center;
}

.evententry img{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 50vw;
    height: auto;
}

.aboutuspage {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.aboutuspage h1{
    font-size: 3vw;
    margin-bottom: -5px;
}
.aboutusentryleft {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-row:auto;
    font-size: 1.5vw;
    padding-bottom: 20px;
}

.aboutusentryleft p, .aboutusentryright p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 150%;
    font-family: 'Montserrat',sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}


.aboutusentryleft img, .aboutusentryright img{
    display:flex;
    justify-content:center;
    align-items: center;
}

.aboutusentryleft p:hover{
    color:plum;
    transition: transform 500ms ease-in-out;
    transform: scale(1.01);
    transform-origin:center;
}

.aboutusentryright p:hover{
    color:plum;
    transition: transform 500ms ease-in-out;
    transform: scale(1.01);
    transform-origin:center;
}

.aboutusentryleft img:hover {
    opacity:0.8;
    transition: transform 500ms ease-in-out;
    transform: scale(1.02);
    transform-origin:center;
}
.aboutusentryright img:hover {
    opacity:0.8;
    transition: transform 500ms ease-in-out;
    transform: scale(1.02);
    transform-origin:center;
}

#diamond{
    max-width: 40vw;
    height: auto;
}
#class {
    max-width: 40vw;
    height:auto;
}

#blackswan {
    max-width: 50vw;
    height:auto;
}


.aboutusentryleft img{
    padding-left: 40px;
}

.aboutusentryright img{
    padding-right: 40px;
}

.aboutusentryright {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-row:auto;
    font-size: 1.5vw;
    padding-bottom: 20px;
}



.backtotop {
    text-align:center;
    font-size: 1.3vw;
}
.backtotop a{
    color: black;
    text-decoration: none;
}

.backtotop:hover a{
    color:purple;
    transition: 0.5s;
    font-size: 110%;
    transform-origin:center;
}

html,body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

header{
    background-color: #000000;
    border: 2px solid #000000;
  
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;

}

i {
    font-size: small;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.headerlogo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    width: 50%;
}

/* body{
    text-align:center;
} */
.announcements {
    list-style:none;
    margin: 0 2px;
    padding:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.announcements h1{
    font-size: 3vw;
    color: black;
    font-family: Coco;
}

.date, .actualannouncement{
    font-size: 1.5vw;
    font-family: 'Montserrat',sans-serif;
}

.announcemententry {
    display: grid;
    grid-template-columns: 0.6fr 2fr;
    grid-row:auto;
    padding-right: 80px;
}

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    color: slateblue;
    font-style: italic;
}
.actualannouncement p{
    text-align: justify;
    color: black;
}


.navigation {
    margin: 5px 0 0 ;
    padding: 5px 0;
    background-color: #000000;
    margin-bottom: 5px;
    border: 2px solid #000000;
    text-align: center;
}



    
.navigation ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align:center;
}

.navigation  li {
    text-align:center;
    display: flex;
    justify-content:center;
    align-items:center;
    /* padding: 5px 5px; */
}

.navigation  a {
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    font-weight: normal;
    padding: 10px 20px;
    width:100%;
}

.navigation a:hover{
    background-color: #7f4b9f;
    transition: 0.5s;
    
}

.homepageblock {
    margin-top:-10px;
    margin-right:auto;
    max-width: 100%;
    height: 110vh;
    display:grid;
    grid-template-columns:1fr;
    grid-row: auto;
    
}
 
@media only screen and (max-width:650px) {
    .navigation a{
        font-size: 1.8vw;
    }
    .homepageblock {
        height:55vh;
    }
    .date, .actualannouncement {
        font-size:2vw;
    }
    .backtotop {
        font-size: 1.8vw
    }
    .aboutusentryleft, .aboutusentryright{
        font-size:2vw;
    }

    .evententry {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        
    }
    .eventtext p, .blurb p{
        font-size: 2vw;
        
       
    }
   
   
}


.homepageblock .rowleft {
    border:0px;
    color:black;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:flex-end;
    padding-right:10vw;
    transition: transform 500ms ease-in-out;
    transform-origin:left top;
    
}


.rowleft a{
    text-decoration: none;
    color: black;
    font-size: 3.5vw;
    font-weight: normal;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}


.rowleft:hover{
    animation: move .1s forwards;
    opacity: .8;
    transition:0.5s;
    transform: scale(1.05); 
}

.rowleft:hover a{
    color:purple;
    transition: 0.5s;
}

.homepageblock .rowright {
    border:0px;
    color:black;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:flex-start;
    padding-left:10vw;
    transition: transform 500ms ease-in-out;
    transform-origin:right top;
    
}

.rowright a{
    text-decoration: none;
    color: black;
    font-size: 3.5vw;
    font-weight: normal;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    

}

.rowright:hover{
    animation: move .1s forwards;
    opacity: .8;
    transition: 0.5s;
    transform: scale(1.05);
    
}
.rowright:hover a{
    color:purple;
    transition: 0.5s;
}



@keyframes move{
    100% {box-shadow: 5px 5px 5px rgba(44, 13, 83, 0.607);}
}


#row1 {
    background-image: url(../images/aboutusimage.png);
    background-size: cover;
}


#row2 {
    background-image: url(../images/coversimage.png);
    background-size:cover;
}

#row3 {
    background-image: url(../images/eventsimage.png);
    background-size:cover;
}

#row4 {
    background-image: url(../images/announcementimage.png);
    background-size:cover;
}

footer{
    background-color: #000000;
    border: 2px solid #000000;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;

    color:white;

}

.sociallogo1 {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    width: 50px;
}

.sociallogo2 {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    width: 54px;
}
.sociallogo3 {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    width: 54px;
}

.sociallogo1:hover {
    opacity: .8;
    transition: 0.5s;
    transform: scale(1.2);
}

.sociallogo2:hover {
    opacity: .8;
    transition: 0.5s;
    transform: scale(1.2);
}

.sociallogo3:hover {
    opacity: .8;
    transition: 0.5s;
    transform: scale(1.2);
}