@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

header{
    display: flex;
    justify-content: left;
    align-items:center;
    /* background-color: black; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pagelayout{
    display:grid;
    grid-template-columns: 0.1fr 1fr;
}
.left {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: auto;
    height: auto;
}

.right{
    /* background-color: black; */
    margin-left: 20px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
}


#text {
    text-align: justify;
    text-justify: inter-word;
    padding-left: 30px;
    padding-right: 30px;
    
}

#image1{
    background-color: rgba(255, 28, 28, 0.47);
    color: white;
    border: none;
}

#image2{
    background-color: rgba(42, 145, 4, 0.47);
    color: white;
    border: none;
}

#image3{
    background-color: rgba(28, 96, 255, 0.47);
    color: white;
    border: none;
}

#image4{
    background-color: rgba(210, 28, 255, 0.47);
    color: white;
    border: none;
}


button:hover{
    opacity: .8;
    transition:  200ms ease-in-out;
    
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 10vh;
   }