@font-face{
    font-family: Coco;
    src: url(../style/Cocogoose_Pro_Ultralight-trial.ttf);
}

@font-face{
    font-family: Bebas;
    src: url(../style/BebasNeue-Regular.ttf);
}

@font-face{
    font-family: Felt;
    src: url(../style/FeltTipRomanRegular.ttf)
}

h1{
    font-family: Bebas;
}

h2, h3, p{
    font-family: Coco;
}

.wholescreen{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.sidenav{
    background-color: black;
    width:20vw;
    margin-left: -20px;
    margin-top: -10px;
    margin-bottom: -20px;
}

.content{
    background-color: white;
    margin-top: -10px;
    margin-right: -20px;
    margin-bottom: -20px;
}

.sidenav{
    display: grid;
    grid-template-rows: 1fr 1.55fr;
}

.maintitle{
    margin-left:3vw;
    margin-top:25px;
    font-size: 2.5vw;
    color: white;
    display:flex;
    justify-content: left;
    flex-direction: column;
}

.vibe h1{
    margin-bottom: -50px;
}
.colornav{
    background-color: white;
    display:grid;
    grid-template-rows: 3.2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 62vh;
}



.filler {
    background-color: black;
    
}
.red {
    background-color: #69161C;
}

.orange{
    background-color: #81331D;
}

.yellow{
    background-color: #845320;
}

.green{
    background-color: #043A1D;
}

.blue{
    background-color: #181D51;
}

.purple{
    background-color: #3A1C50;

}

.home{
    display:flex;
    justify-items:left;
    flex-direction: column;
    align-items:center;;
}

.hometext{
    text-align: left;
    margin-left: 35px;
}

.home h1{
    margin-top: 25vh;
    font-size: 12vw;
    line-height:0pt;
}
.home h2{
    -webkit-text-stroke: 1px black;
    font-size: 1.5vw;
}
.home h3{
    font-size: 1.5vw;
    color: gray;
}


#randomcolorbutton {
    font-family: Bebas;
    transition: 0.8s;
    width: 73vw;
    height: 20px;
    opacity: 0.6;
    background: linear-gradient(90deg, var(--c1, #C1272D), var(--c2, #F15A24), var(--c3, #F7931E), var(--c4, #006837), var(--c5, #2E3192), var(--c6, #662D91)51%, var(--c1, #C1272D), var(--c2, #F15A24), var(--c3, #F7931E), var(--c4, #006837), var(--c5, #2E3192), var(--c6, #662D91)) var(--x, 0)/ 200%;
   }

#randomcolorbutton{
    --c1: #F15A24;
    --c2: #F7931E;
    --c3: #006837;
    --c4: #2E3192;
    --c5: #662D91;
    --c6: #C1272D;
}

#randomcolorbutton:hover { 
    --x: 100%; 
    opacity: 1;
}

/* gradient animation info: https://codeconvey.com/css-animate-gradient-on-hover/#:~:text=CSS%20to%20Animate%20Gradient%20on%20Hover&text=You%20can%20define%20custom%20values%20for%20them.&text=In%20the%20above%20code%20snippet,define%20the%20color%20variables%20for%20%E2%80%9C. */

button {
    color: white;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align:center;
    margin-left: 30px;
    border:none;
}

.redtext, .orangetext, .yellowtext, .greentext, .bluetext, .purpletext{
    text-align: left;
    padding-left: 35px;
    
}

.redtext h1, .orangetext h1, .yellowtext h1, .greentext h1, .bluetext h1, .purpletext h1{
    margin-top: 20vh;
    font-size: 12vw;
    margin-bottom: -30px;
}

.colortitle{
    text-align: left;
    color: white;
    font-size: 1.5vw;
}




.nowplaying{
    padding-top:25px;
    color: white;
    font-size: 1.3vw;
    padding-left: 35px;
    text-align:left;
    font-family: Felt;
}

.nowplaying h4{
    line-height: 0pt;
}


.colorandmusicbutton{
    display: flex;
    flex-direction:row;
    justify-content: left;
    align-items: baseline;
}

.colorandmusicbutton img{
    width: 10vw;
    height: 10vw;
    margin-left: 20px;
}



@media only screen and (max-width:900px) {
    .wholescreen{
        display: grid;
        grid-template-columns: 0.14fr 6fr;
    }

    .vibe, .project{
        visibility:hidden;
    }
    .maintitle{
        height:75px;
    }
    .sidenav{
        width:40px;
        display: grid;
        grid-template-rows: 1fr;
    }

    .colornav{
        display:grid;
        grid-template-rows: 1.1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height:600px;
        width:40px;
    }

    .redtext h1, .orangetext h1, .yellowtext h1, .greentext h1, .bluetext h1, .purpletext h1{
        font-size: 16vw;
    }
    
    .colortitle p{
        font-size: 2vw;
    }
    .colortitle{
        font-size: 3vw;
    }
    
    .nowplaying{
        font-size: 1.8vw;
    }

    .home h1{
        font-size: 16vw;
    }
    .home h2{
        font-size: 3vw;
    }
    .home h3{
        font-size: 3vw;

    }
    .red, .orange, .yellow, .green, .blue, .purple {
        width: 40px;
    }

   
    

}